@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    text-align: center;
    color: rgb(122, 119, 119);

}

.logo{
   
text-decoration: none;
color: white;
text-align: center;
font-size: larger;
font-weight: bolder;
}
.menu{

text-decoration: none;
color: rgb(122, 119, 119);
word-spacing: 10px;
text-decoration: sp;

}
a:link {
     text-decoration: none;
     }


html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
  
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.nav-item {
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: xx-large;
    font-weight: 500;
    color:black;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        color: black;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

   
}
